/*Font Scheme from google.com/fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bad+Script&family=Bangers&family=Birthstone&family=Lacquer&family=Lobster&display=swap');

/*Color Shceme*/
/*Elements*/
:root {
    --background: #ffffff;
    --button: #f582ae;
    --headline: #001858;
    --buttontext: #001858;
    --paragraph: #172c66;

/*Illustration*/
    --stroke: #001858;
    --secondary: #8bd3dd;
    --main: #f3d2c1;
    --tertiary: #f582ae;
    --highlight: #fef6e4;
}
/*Defaults the margin and padding to the entire page*/
body, html {
    background: var(--background);
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
}

/*To create a 50/50 display for when the screen changes to desktop we see 2 sides*/
body {
    display: flex;
}

/*Centers logo above the Hero */
.header-logo {
    display: flex;
    justify-content: center;
    margin: auto;
    height: auto;
    padding: 15px;
    
}
/*Adds space between the logo and the Hero*/
.c-logo {
    height: 95px;
    

}
/* Added image rather than using an img code block. Positioned it to cover the entire container as well
Also, the max-width and margin 0 auto made it center and adhere to the responsiveness guideline*/
#athlete-mobile {
    display: flex;
    background: #ffffff url("/assets/images/Bitmap.png") no-repeat right top;
    background-color: #8bd3dd;
    height: 200px;
    width: 100%;
    background-size: cover;
    max-width: 450px;
    margin: 0 auto;
    
}

/*Positioned the header and paragraph to the center and adds color to the text*/
.content-container {
    
    width: 100%;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Bangers', cursive;
    font: weight 400px;
    color: black;
}
/*used to specify selected or targeted text for color scheme*/
span {
    color:#CD3A24
}
/*Aligned the form to the center of the page*/
.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}
/*Aligned it responsiely*/
.input-context {
    margin: auto;
}

/*Removes the space between the input & button-And aligns multiple input fields with responsiveness*/
form {
    
    align-items: center;
}

/*Positions the form side by side*/
input[type="text"] {
    height: 40px;
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
}
/*Positions the form side by side without space between the form*/
input[type="submit"] {
    box-sizing: border-box;
    height: 40px;
    padding:none;
    margin: 0 0 0 0;
    background-color:black;
    color: white;
    width: 60px;   
    font-family: 'Bangers', cursive;
}

.all-wrapper {
    max-width: 450px;
    margin: 0 auto;
}
/* Medium devices (Larger phones iPad mini's, 475px and up) */
@media only screen and (min-width: 475px) {
    #athlete-mobile {
        display: flex;
        background: #ffffff url("/assets/images/Bitmap.png") no-repeat right top;
        background-color: #8bd3dd;
        height: 200px;
        width: 100%;
        background-size: cover;
        max-width: 767px;
        margin: 0 auto;   
    }

    .c-logo {
        height: 175px;
    
    }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .c-logo {
        height: 175px;
        margin-left: 20px;
        
    
    }
    
    .content-wrapper {
        width: 60%;
        
    }

    .content-container {
        width: 85%;
        text-align: left; 
        margin-left: 100px;   
        font-size: 64px;
    }
    

    #athlete-mobile {
        display: none;  
    }

    .header-logo {
        margin-left: 60px;
        display: block;
    
}

.desktop-image {
    display: block;
    width: 50%;
    background-image: url(/assets/images/athlete-big.webp);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
    background-size:cover;
}

    .form-container {
        margin: auto;
        width: 80%;
        
    }
}