/*Elements*/
:root {
    --background: #ffffff;
    --button: #f582ae;
    --headline: #001858;
    --buttontext: #001858;
    --paragraph: #172c66;
/*Illustration*/
    --stroke: #001858;
    --secondary: #8bd3dd;
    --main: #f3d2c1;
    --tertiary: #f582ae;
    --highlight: #fef6e4;
}

body, html {
    background: var(--background);
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
}

.header-logo {
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 15px;
}

.c-logo {
    height: 75px;
}
#athlete {
    display: flex;
    background: #ffffff url("/assets/images/Bitmap.png") no-repeat right top;
    background-color: #8bd3dd;
    height: 200px;
    width: 100%;
    background-size: cover;
    
}

@media only screen and (max-width: 375px) {
    #athlet {
      
    }
}